<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- localRepository
   | The path to the local repository maven will use to store artifacts.
   |
   | Default: ~/.m2/repository
  -->
  <localRepository>/tmp/maven-repo</localRepository>

        <servers>
                <server>
                        <id>guvnor-m2-repo</id>
                        <username>erics</username>
                        <password>jbossbrms1!</password>
                        <configuration>
                                <wagonProvider>httpclient</wagonProvider>
                                <httpConfiguration>
                                        <all>
                                                <usePreemptive>true</usePreemptive>
                                        </all>
                                </httpConfiguration>
                        </configuration>
                </server>
        </servers>

	 <profiles>
		 <profile>
			 <repositories>
				<repository>
					<id>jboss-bpm-suite-repo</id>
					<name>JBoss BPM Suite Maven Repository</name>
					<url>file://tmp/maven-repo</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>jboss-bpm-suite-repo</id>
					<name>JBoss BPM Suite Maven Repository</name>
					<url>file:///tmp/maven-repo</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
                        <id>tmp-repository</id>
		</profile>
                <profile>
			 <repositories>
				<repository>
					<releases>
						<updatePolicy>never</updatePolicy>
 					</releases>
 					<snapshots>
						<updatePolicy>always</updatePolicy>
 					</snapshots>
					<id>jboss-public-repository-group</id>
					<name>JBoss Public Maven Repository Group</name>
					<url>https://repository.jboss.org/nexus/content/groups/public</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
					<id>jboss-public-plugin-repository-group</id>
					<url>https://repository.jboss.org/nexus/content/groups/public</url>
				</pluginRepository>
			</pluginRepositories>
			<id>jboss-public-repository</id>
                </profile>
                <profile>
			 <repositories>
				<repository>
					<releases>
						<updatePolicy>never</updatePolicy>
 					</releases>
 					<snapshots>
						<updatePolicy>always</updatePolicy>
 					</snapshots>
					<id>redhat-ga-repository-group</id>
					<name>JBoss Public Maven Repository Group</name>
					<url>https://maven.repository.redhat.com/ga</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
					<id>rehdhat-ga-plugin-repository-group</id>
					<url>https://maven.repository.redhat.com/ga</url>
				</pluginRepository>
			</pluginRepositories>
			<id>redhat-ga-repository</id>
                </profile>
	</profiles>
        <activeProfiles>
     		<activeProfile>tmp-repository</activeProfile>
		<activeProfile>jboss-public-repository</activeProfile>
		<activeProfile>redhat-ga-repository</activeProfile>
        </activeProfiles>
</settings>
